/* This is only for the eperience page*/
/* Image change when scroll*/

.section-img{

    position: relative;
    left: 50%;
    display: flex;}

.section-img-inner{

    height: 200px;
    position: absolute;
    right: 20%;
    width: 50%;
    top: 50%;
    mix-blend-mode: multiply;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter: blur(30px);
    opacity: 0;
    background-position: 50% 40%;
    transition: .6s ease, opacity .6s ease, background-position .8s ease;}

.section-body{
    display: flex;
    align-items: center;}

.section-text{

    font-size: 18px;
    width: 50vw;
    position: relative;
    top: 80px;
    right:90%;
    padding: 2vw 5vw 2vw 5vw;}

.section.active .section-img-inner{
    opacity: 1;
    background-position: 50% 50%;
    filter: blur(0);}


/* logos */
.logo1{
    /*border: 1px blue solid;*/
    height: 35px;
    width: 35px;
    
    position:fixed;
    right: 10px;
    top:1.4rem;

    justify-content: center;
    align-items: center;
    display: flex; }

.logo1 img{
    height: 30px;
    width: 30px;}
.logo2{
    /*border: 1px rebeccapurple solid;*/
    height: 35px;
    width: 35px;
    
    position:fixed;
    right: 60px;
    top:1.4rem;

    justify-content: center;
    align-items: center;
    display: flex; }
.logo2 img{
    height: 30px;
    width: 30px;}


.logo3{
    /*border: 1px skyblue solid;*/
    height: 35px;
    width: 140px;
    
    position:fixed;
    left: 25px;
    top:1.2rem;

    justify-content: center;
    align-items: center;
    display: flex; }
.logo3 img{
    height: 45px;
    width: 174px;
}

.expMain{
    margin: 10px; 
    margin-top: 50px;
    padding: 30px;
    align-items: center;
    
}
p#phoneNewText{
    margin-bottom: 100px;
}
h5 {
    font-style: italic;
    color: white;}
#pUoftSta{
    position: absolute;
    top: 30.5%;
    right: 50%;
    transform: translateX(50%);
}
.pSectionBody{
    position: relative;
}

.phoneText{
    margin-top: 70px;
}

#pSsc{
    position: absolute;
    top: 6.5%;
    right: 50%;
    transform: translateX(50%);
}

#pAdviza{
    position: absolute;
    top: 4.5%;
    right: 50%;
    transform: translateX(50%);
}

#pNew{
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translateX(50%);
}

@media screen and (min-width:1024px){
    div#lastText{
        
        margin-bottom: 5rem;
    }
}
