/* General CSS*/
html {
    font-size: 24px;
    line-height: 1.625;
    color: white;
    /* font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #81C7D4;}
body{
    margin: 0;
    padding: 0;}

/* Header of the page should be:
 * fixed when user scroll down
 * text should be centered expect the two logos at the right corner
 */
#header, #header1, #header2,#header3{
    font-size: 12px;
    width: 100%;
    height: 60px;
    word-spacing: 1rem;
    position: fixed;
    text-align: center;
    top: 0;
    background-color: #81C7D4;
    display: block;}

/* Title:
 * at the center of the page
 * go away when scroll
 */
#title{
    width: 100%;
    height: 7rem;
    /*border: 2px pink solid;*/
    position:relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title img{
    position: absolute;
    width: 80%;
    height: 7rem;
    object-fit: contain;
}


#logo1{
    /*border: 1px blue solid;*/
    height: 35px;
    width: 35px;
    
    position:fixed;
    right: 10px;
    top:1.4rem;

    justify-content: center;
    align-items: center;
    display: flex; }

#logo1 img{
    height: 30px;
    width: 30px;}
#logo2{
    /*border: 1px rebeccapurple solid;*/
    height: 35px;
    width: 35px;
    
    position:fixed;
    right: 60px;
    top:1.4rem;

    justify-content: center;
    align-items: center;
    display: flex; }
#logo2 img{
    height: 30px;
    width: 30px;}


#logo3{
    /*border: 1px skyblue solid;*/
    height: 35px;
    width: 140px;
    
    position:fixed;
    left: 25px;
    top:1.2rem;

    justify-content: center;
    align-items: center;
    display: flex; }
#logo3 img{
    height: 45px;
    width: 174px;
}

/* Style of picture inserted on the web
 * We want the pic to be in a fixed position even when user scrolling page
 */
 #pic{
    /*border: 2px palegoldenrod solid;*/
    height: 400px;
    width: 400px;
    position: fixed;
    top: 30%;
    right: 10%;

    justify-content: center;
    align-items: center;
    display: flex;}
#pic img{
    margin: 10px;
    padding: 10px;
    width: 280px;
    height: 280px;}
/* Style of div.main */
#main{
    font-size: 18px;
    position: fixed;
    width: 50vw;
    height: 450px;
    top: 30%;
    left: 10%;}

#main2{
    border: 2px palegreen solid;
    font-size: 18px;
    position: fixed;
    width: 50%;
    height: 450px;
    top: 20%;
    left: 10%;
    overflow-y: scroll;}

.pic_c{
    border: 2px palegoldenrod solid;
    height: 500px;
    width: 500px;
    position: fixed;
    top: 20%;
    right: 10%;

    justify-content: center;
    align-items: center;
    display: flex;}
.pic_c img{
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: 400px;}

/*The shared feature of scroll for personal and experience page*/
a{
    text-decoration: none;}
    a:hover{
    color: #FBE251;}

/* Text Emphasize */
.emp {
    font-style: bold;
    color:#fa4c1c;}

/* Line Animation */
.hunder {
    font-size: 22px;
    display: inline-block;
    position: relative;
    color: #fa4c1c;}

.hunder::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FBE251;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;}

.hunder:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;}

/* List */
ul{
    top: 10px;
    list-style-type: circle;}

    /* Horizontal Line*/
hr {
    height: 1px;
    color:#fa4c1c;
    border-width: 0;
    background-color: #fa4c1c;}

/* Title */
h4 {
    font-style: italic;
    color: white;}

/* Image change when scroll*/
.section{
    display: flex;
    min-height: 150px;
    position: relative;
    
    z-index: 1;}
.section > *{
    width: 50%;}

.pMain{
    margin: 10px; 
    margin-top: 50px;
    padding: 30px;
    align-items: center;
    
}
.pImgIndex{
    position: absolute;
    width: 50%;
    right: 10%;
    align-items: center;
}
.pImgIndexContainer{
    position: absolute;
}
/* Scroll Fade In
.fade {
    padding: 6px;
    background-color: #8B81C3;
    opacity: 1;
    color:white;
    justify-content: center;
    }
*/

.section-img-inner-index{
    height: 400px;
    position: fixed;
    right: 5%;
    width: 40%;
    top: 30%;
    mix-blend-mode: multiply;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-position: 50% 40%;
    }

.context-text-margin-top{
    margin-top: 160px;
}

div#phone-size-img{
    position: relative;
}
div#phone-size-img >img{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: -100px;
}


/* phone-size: Line Animation */
.hunder-phone {
    font-size: 24px;
    
    position: relative;
    color: #fa4c1c;}

.hunder-phone ::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FBE251;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;}

.hunder-phone :hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;}

.non-display{
    display: none;
}
.twoLogos{
    margin-top: 1rem;
}