/**
 * This is for general format of html pages.
 * It defines background, margin, font type, and font size
 */

body {
    background-color: #8B81C3;
    font-size: 20px;
    line-height: 1.625;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
    background-color: #B28FCE;
    font-size: 30px;
    text-align: center;
    margin: 0
    width 100%;
    outline: none;
}