/**
 * This is for general format of html pages.
 * It defines background, margin, font type, and font size
 */

/* Fixed style */
 html {
    font-size: 24px;
    line-height: 1.625;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

/* Style of div.header */
div.header{
    font-size: 24px;
    text-align: center;
    background-color: #8B81C3;
    min-width: 100px;}
/* Style of div.main */
div.main{
    font-size: 18px;
    margin: auto;
    width: 640px;
    padding: 50 px;
    background-color: #8B81C3;
    border: 20px;}
/* Style of div.pic */
div.pic{
    font-size: 12px;
    text-align: center;
    background-color: #8B81C3;
    min-width: 100px;}

/* Style of whole page */
 .page {
    background-color: #8B81C3;}


