/**
 * This is for specific format of text and images
 * It defines 
 
 */

 /* Address */
 a:link {
    color: #FBE251;
    text-decoration: none;}

 a:visited {
    color: #FBE251;
    text-decoration: none;}

 a:hover {
    color: #7DB9DE;
    text-decoration: underline;}

a:active {
    color: #7DB9DE;
    text-decoration: underline;}

div.header{
    background-color: #B28FCE;
    font-size: 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: auto;
    line-height: 1.625;
}

/* Text Emphasize */

/* List*/
li.h {
    display: inline;
    margin-right: 10px;
    text-align: center;
}
