/*
 * This is for specific format of text and images 
 */

/* Address */
a:link, a:visited {
    color: #FBE251;
    text-decoration: none;}

a:hover, a:active {
    color: #7DB9DE;
    text-decoration: none;}

/* Text Emphasize */
.emp {
    font-style: bold;
    color:#FBE251;}

/* Line Animation */
li.btn {
    display: inline;
    margin-right: 30px;
    text-align: center;
    padding: 6px;}
    /* Underline Animation */
.hover-under{
    display: inline-block;
    position: relative;
    color:#FBE251;}
.hover-under::after {
    content: '';
    position: absolute;
    width: 90%;
    transform: scaleX(0);
    height:2px;
    bottom: 0;
    left:0;
    background-color: #7DB9DE;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;}
.hover-under:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;}

/* List */
ul{
    list-style-type: circle;
    margin: 0px;
    padding: 0px 0px 0px 0px}

/* Image */
img.pic {width: 280px;
    height: 280px;}

/* Horizontal Line*/
hr {
    height: 1px;
    color:#FBE251;
    border-width: 0;
    background-color: #FBE251;
}

/* Title */
h4 {
    font-style: italic;
    color: white;}

.fade-in-section {
    height: 100vh;
    text-align: center;
    opacity: 0;
    transform: translateY(100vh);
    visibility: hidden;
    transition: 
        opacity 1200ms ease-out, 
        transform 600ms ease-out,
        visibility 1200ms ease-out;
    will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}