/**
 * This is for specific format of text and images
 * It defines 
 
 */

 a:link{
    color: #E0B933;
 }
 a:visited{
    color: #E0B933;
 }
 a:hover{
    color: #7DB9DE;
    text-decoration: underline;
 }
