body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #FBE251;
}

.t {
    display: flex;
    justify-content: center;  
}

.animated{
    width: 400px;
    height: 400px;
    background-position: center;
    background-size: cover;
    color: white;
    content: "Hello";
}

.fadeIn{
    -webkit-animation: fadeIn 2.0s both;
    -moz-animation: fadeIn 2.0s both;
    -o-animation: fadeIn 2.0s both;
    animation: fadeIn 2.0s both;
}
@-webkit-keyframes fadeIn {  
    0%{
        opacity: 0;
        -webkit-transform: translateY(-50vh);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadeIn {
    0%{
        opacity: 0;
        -moz-transform: translateY(-50vh);
    }
    100%{
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@-o-keyframes fadeIn {
    0%{
        opacity: 0;
        -o-transform: translateY(-50vh);
    }
    100%{
        opacity: 1;
        -o-transform: translateY(0);
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(-50vh);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
